{% extends "base.html" %}
<!-- I use jinja language here -->
{% block content %}
<div class="container page-form">

    <form id="login-form" action="/auth/login" method="POST">
        <div class="form-group">
            <label for="email"> Email </label>
            <input type="text" id="email" class="form-control" name="email">
        </div>

        <div class="form-group">
            <label for="password"> Password </label>
            <input type="password" id="password" class="form-control" name="password">
        </div>

        <button type="submit" class="btn btn-success">submit</button>
    </form>
</div>

{% endblock %}