{% extends "base.html" %}

{% block content %}
<div class="container">

    <form id="new-blog" action="/blogs/new" method="POST">
        <div class="form-group">
            <label for="title"> Title </label>
            <input type="text" id="title" class="form-control" name="title">
        </div>

        <div class="form-group">
            <label for="description"> description </label>
            <input type="text" id="description" class="form-control" name="description">
        </div>

        <button type="submit" class="btn btn-success"> Create Blog </button>
    </form>
</div>

{% endblock %}