{% extends "base.html" %}
{% block content %}

<div class="container">
    <h2> {{ blog_title}} </h2>
    <a href="/posts/new{{ blog_id }}"><button class="btn btn_primary">New Post></button></a>
    {% posts|length > 0 %}
    {% for blog in blogs %}

    <h3>{{ post.title }}</h3>
    <p>{{ post.content }}</p>
    <p>{{ post.author }}</p>
    <hr>
    {% else %}
    <h4>There are not any post yet!</h4>
    {% endif %}
    {% endfor %}
</div>

{% endblock %}