{% extends "base.html" %}
{% block content %}

<div class="container">
    <h2> {{email}}'s blogs </h2>

    {% for blog in blogs %}

    <h3><a href="/posts/{{ blog_id }}"> {{ blog.title }}</a></h3>
    <p>{{ blog.description }}</p>
    <hr>

    {% endfor %}
</div>

{% endblock %}