{% extends "base.html" %}

{% block content %}
<div class="container">

    <form id="new-post" action="/posts/new{{ blog_id }}" method="POST">
        <div class="form-group">
            <label for="title"> Title </label>
            <input type="text" id="title" class="form-control" name="title">
        </div>

        <div class="form-group">
            <label for="content"> content </label>
            <textarea id="content" class="form-control" name="content"></textarea>
        </div>

        <button type="submit" class="btn btn-success"> Publish </button>
    </form>
</div>

{% endblock %}